.banner {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}

.menu > a {
    margin-right: 1rem;
}

.menu > .profile-area {
    float: right;
}

.profile-pic {
    width: 70px;
    height: 70px;
}

.maincontent {
    text-align: center
}

.maincontent > form > a {
    margin-left: 0.5rem;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    border: 1px solid white;
    padding: 0.5rem;
}